ENV=development
PORT=4000
APP_URL='http://localhost'

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=buylla
POSTGRES_PASSWORD=buylla_dev
POSTGRES_DB=buylla

DATABASE_URL=postgresql://buylla:buylla_dev@localhost:5432/buylla
